<link rel="icon" type="image/svg+xml" href="./images/icon/favicon.svg">
<link rel="icon" type="image/png" sizes="96x96" href="./images/icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="32x32" href="./images/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./images/icon/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="./images/icon/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="Meteopavel">

<link rel="icon" type="image/x-icon" href="./images/icon/favicon.ico">

<link rel="manifest" href="./images/icon/site.webmanifest">

<link rel="stylesheet" href="./fonts/fonts.css" />
<link rel="stylesheet" href="./styles/main.css" />
