<!-- Обо мне -->
<section class="about section">
  <h3 class="section__header">Обо мне</h3>
  <p class="section__p">
    Я Junior+ разработчик, который создает доступные и эффективные решения,
    сочетающие мощь бэкенда с элегантным фронтом. Отличные знания HTML, CSS,
    TypeScript и React позволяют мне создавать системы, которые обеспечивают
    высокую производительность, надежность и интуитивно понятный интерфейс.
  </p>
  <p class="section__p">
    В backend-разработке я активно использую фреймворки, такие как Django, Flask
    и Fast API, которые позволяют быстро разрабатывать масштабируемые RESTful
    API решения и упрощают работу с базами данных. Я никогда не забываю про
    оптимизацию запросов к базам данных, чтобы приложения работали эффективно и
    быстро. При необходимости всегда могу применить чистый SQL
  </p>
  <p class="section__p">
    В настоящее время я занимаюсь комплексными системами, где бэкенд
    обеспечивает стабильную работу сервисов, а фронтенд делает их использование
    максимально удобным. Моя цель — создавать решения, которые соответствуют
    стандартам доступности и обеспечивают отличный пользовательский опыт.
  </p>
  <p class="section__p">
    В свободное время я увлекаюсь фитнесом, горным туризмом, вело- и
    мотоспортом. Эти занятия помогают мне поддерживать физическую форму и
    балансировать между работой и отдыхом.
  </p>
  <p class="section__p">
    Я всегда открыт к новым возможностям и готов к сотрудничеству с интересными
    проектами, которые позволят мне развиваться как специалисту.
  </p>
</section>
