<!-- Опыт работы -->
<section class="experience section">
  <h3 class="section__header">Опыт работы</h3>
  <ul class="section__list">
    <li class="section__item highlightable">
      <div class="section__item--left">
        <svg class="preview-icon" viewBox="0 0 60 60">
          <use
            href="./images/experience/freelance.svg#freelance"
            class="preview-icon"
          />
        </svg>
      </div>
      <div class="section__item--right">
        <p class="section__p section__p--smaller">
          <span>Фриланс (с ноября 2024)</span>
          — за последнее время выполнил более 10 заказов, среди которых
          сайты-портфолио, сервис для создания специализированных SVG,
          самописный сборщик для одностраничного сайта, фронтэнд для сайта
          предприятия и телеграм-боты
        </p>
      </div>
    </li>
    <li class="section__item highlightable">
      <div class="section__item--left">
        <svg class="preview-icon" viewBox="0 0 1024 1024">
          <use
            href="./images/experience/python_tutor.svg#python_tutor"
            class="preview-icon"
          />
        </svg>
      </div>
      <div class="section__item--right">
        <p class="section__p section__p--smaller">
          <span>Частный преподаватель (с сентября 2023)</span>
          — разработал и применил персонализированные планы, что повысить
          успеваемость учеников в школе на 30%. Регулярно проводил тестирования,
          что позволило своевременно выявлять слабые места и корректировать
          учебный процесс, обеспечивая уверенность учеников на экзаменах. Все
          ученики успешно сдали ЕГЭ
        </p>
      </div>
    </li>
    <li class="section__item highlightable">
      <div class="section__item--left">
        <svg class="preview-icon" viewBox="0 0 512 512">
          <use
            href="./images/experience/python_lecturer.svg#python_lecturer"
            class="preview-icon"
          />
        </svg>
      </div>
      <div class="section__item--right">
        <p class="section__p section__p--smaller">
          <span>Старший преподаватель ВУЗа (2012 — 2023)</span>
          — проводил курсы по Python с акцентом на библиотеки NumPy, Matplotlib
          и Pandas, что привело к 70% оценок студентов в рамках научных работ.
          Руководил в разработкой и программированием исследовательских
          приборов, что легло в основу 12 курсовых и дипломных работ студентов.
          Спроектировал и собрал метеорологические квадрокоптеры, что позволило
          студентам успешно реализовать 5 научных проектов, получивших признание
          на конференциях.
        </p>
      </div>
    </li>
  </ul>
</section>
