<!-- Проекты -->
<section class="projects section">
  <h3 class="section__header">Проекты</h3>
  <ul class="section__list">
    <li class="section__item highlightable">
      <div class="section__item--left">
        <svg class="preview-icon" viewBox="0 0 512 512">
          <use
            href="./images/previews/legacy_mailer.svg#legacy_mailer"
            class="preview-icon"
          />
        </svg>
      </div>
      <div class="section__item--right">
        <p class="section__p section__p--smaller">
          <span>Legacy Django Mailer</span>
          — это сервис для создания и отправки рассылок с использованием
          HTML-макетов, отложенных рассылок, переменных в макетах и отслеживания
          открытий писем, где активно применялись legacy-инструменты, такие как
          Python 2.7 и другие устаревшие технологии. Администраторы настраивают
          рассылки через модальное окно с AJAX-запросами, а автоматизация и
          работа с очередями реализованы с помощью Redis, Celery и других
          инструментов, что подчеркивает сочетание устаревших и современных
          решений.
        </p>
        <div class="project__links">
          <a href="https://github.com/meteopavel/Legacy_Django_Mailer">
            <div class="project__links-link">
              <svg class="project__link-icon" viewBox="0 -10 256 128">
                <use
                  href="./images/previews/git_repo.svg#git_repo"
                  class="project__link-icon"
                />
              </svg>
              — РЕПОЗИТОРИЙ
            </div>
          </a>
          <a
            href="https://legacymailer.meteopavel.space/newsletters/create-newsletter/"
          >
            <div class="project__links-link">
              <svg class="project__link-icon" viewBox="0 0 512 512">
                <use
                  href="./images/previews/demo.svg#demo"
                  class="project__link-icon"
                />
              </svg>
              — ВЕРСИЯ
            </div>
          </a>
        </div>
        <div class="project__shields">
          <object
            type="image/svg+xml"
            data="./images/shields/python2.svg"
          ></object>
          <object
            type="image/svg+xml"
            data="./images/shields/django19.svg"
          ></object>
        </div>
      </div>
    </li>
    <li class="section__item highlightable">
      <div class="section__item--left">
        <svg class="preview-icon" viewBox="0 0 512 512">
          <use
            href="./images/previews/premium_product.svg#premium_product"
            class="preview-icon"
          />
        </svg>
      </div>
      <div class="section__item--right">
        <p class="section__p section__p--smaller">
          <span>Telegram-бот</span>
          предназначенный для упрощения поиска коммерческой недвижимости для
          аренды или покупки. Бот предоставляет пользователям возможность быстро
          находить подходящие объекты недвижимости по заданным критериям, а
          также получать подробную информацию о каждом объекте, контактную
          информацию владельцев или агентов, и подписываться на уведомления о
          новых предложениях.
        </p>
        <div class="project__links">
          <a href="https://github.com/meteopavel/Premium_product_bot">
            <div class="project__links-link">
              <svg class="project__link-icon" viewBox="0 -10 256 128">
                <use
                  href="./images/previews/git_repo.svg#git_repo"
                  class="project__link-icon"
                />
              </svg>
              — РЕПОЗИТОРИЙ
            </div>
          </a>
          <a href="https://disk.yandex.ru/i/Wc8ZcIK27k2ORA">
            <div class="project__links-link">
              <svg class="project__link-icon" viewBox="0 0 24 24">
                <use
                  href="./images/previews/video.svg#video"
                  class="project__link-icon"
                />
              </svg>
              — ПРЕЗЕНТАЦИЯ
            </div>
          </a>
        </div>
        <div class="project__shields">
          <object
            type="image/svg+xml"
            data="./images/shields/python3.svg"
          ></object>
          <object
            type="image/svg+xml"
            data="./images/shields/django50.svg"
          ></object>
        </div>
      </div>
    </li>
    <li class="section__item highlightable">
      <div class="section__item--left">
        <svg class="preview-icon" viewBox="0 0 64 64">
          <use href="./images/previews/yamdb.svg#yamdb" class="preview-icon" />
        </svg>
      </div>
      <div class="section__item--right">
        <p class="section__p section__p--smaller">
          <span>API YaMDb</span>
          — это платформа, где пользователи могут оставлять отзывы, ставить
          оценки и комментировать произведения из категорий «Книги», «Фильмы»,
          «Музыка» и других, формируя их рейтинг. Администраторы управляют
          добавлением произведений, жанров и категорий, в то время как
          аутентифицированные пользователи могут оставлять отзывы и комментарии,
          а гости могут только просматривать контент.
        </p>
        <div class="project__links">
          <a href="https://github.com/meteopavel/api_yamdb">
            <div class="project__links-link">
              <svg class="project__link-icon" viewBox="0 -10 256 128">
                <use
                  href="./images/previews/git_repo.svg#git_repo"
                  class="project__link-icon"
                />
              </svg>
              — РЕПОЗИТОРИЙ
            </div>
          </a>
        </div>
        <div class="project__shields">
          <object
            type="image/svg+xml"
            data="./images/shields/python3.svg"
          ></object>
          <object
            type="image/svg+xml"
            data="./images/shields/django32.svg"
          ></object>
        </div>
      </div>
    </li>
    <li class="section__item highlightable">
      <div class="section__item--left">
        <svg class="preview-icon" viewBox="0 0 437 438">
          <use
            href="./images/previews/froggygram.svg#froggygram"
            class="preview-icon"
          />
        </svg>
      </div>
      <div class="section__item--right">
        <p class="section__p section__p--smaller">
          <span>Froggygram</span>
          — платформа для любителей лягушек, где пользователи могут делиться
          информацией о своих питомцах. Авторизация через REST API обеспечивает
          доступ к добавлению, редактированию и удалению карточек с лягушками, а
          также к просмотру чужих профилей. После входа пользователь получает
          токен, который позволяет управлять только своими данными.
        </p>
        <div class="project__links">
          <a href="https://github.com/meteopavel/Froggygram">
            <div class="project__links-link">
              <svg class="project__link-icon" viewBox="0 -10 256 128">
                <use
                  href="./images/previews/git_repo.svg#git_repo"
                  class="project__link-icon"
                />
              </svg>
              — РЕПОЗИТОРИЙ
            </div>
          </a>
          <a href="https://froggygram.meteopavel.space/">
            <div class="project__links-link">
              <svg class="project__link-icon" viewBox="0 0 512 512">
                <use
                  href="./images/previews/demo.svg#demo"
                  class="project__link-icon"
                />
              </svg>
              — ВЕРСИЯ
            </div>
          </a>
        </div>
        <div class="project__shields">
          <object
            type="image/svg+xml"
            data="./images/shields/python3.svg"
          ></object>
          <object
            type="image/svg+xml"
            data="./images/shields/django32.svg"
          ></object>
          <object
            type="image/svg+xml"
            data="./images/shields/react17.svg"
          ></object>
        </div>
      </div>
    </li>
    <li class="section__item highlightable">
      <div class="section__item--left">
        <svg class="preview-icon" viewBox="0 0 800 800">
          <use
            href="./images/previews/fitgram.svg#fitgram"
            class="preview-icon"
          />
        </svg>
      </div>
      <div class="section__item--right">
        <p class="section__p section__p--smaller">
          <span>Fitgram</span>
          — это платформа для любителей фитнеса, где пользователи могут делиться
          своими планами тренировок, добавлять понравившиеся планы в избранное и
          подписываться на других авторов. Авторизация через REST API
          обеспечивает доступ к управлению личными данными.
        </p>
        <div class="project__links">
          <a href="https://github.com/meteopavel/Fitgram">
            <div class="project__links-link">
              <svg class="project__link-icon" viewBox="0 -10 256 128">
                <use
                  href="./images/previews/git_repo.svg#git_repo"
                  class="project__link-icon"
                />
              </svg>
              — РЕПОЗИТОРИЙ
            </div>
          </a>
          <a href="https://fitgram.meteopavel.space/">
            <div class="project__links-link">
              <svg class="project__link-icon" viewBox="0 0 512 512">
                <use
                  href="./images/previews/demo.svg#demo"
                  class="project__link-icon"
                />
              </svg>
              — ВЕРСИЯ
            </div>
          </a>
        </div>
        <div class="project__shields">
          <object
            type="image/svg+xml"
            data="./images/shields/python3.svg"
          ></object>
          <object
            type="image/svg+xml"
            data="./images/shields/django32.svg"
          ></object>
          <object
            type="image/svg+xml"
            data="./images/shields/react17.svg"
          ></object>
        </div>
      </div>
    </li>
    <div class="project__links project__links-view_all">
      <a href="https://github.com/meteopavel?tab=repositories">
        <div class="project__links-link">
          <svg class="project__link-icon" viewBox="0 0 512 512">
            <use
              href="./images/previews/portfolio.svg#portfolio"
              class="project__link-icon"
            />
          </svg>
          — ВСЕ ПРОЕКТЫ ❯❯❯❯
        </div>
      </a>
    </div>
  </ul>
</section>
