<section class="social section">
  <ul class="social__list">
    <li class="social__item">
      <a
        class="container__link"
        href="tel:+79027659319"
        target="_blank"
        aria-label="Tel (opens in a new tab)"
        title="Tel"
      >
        <svg class="contact-icon" viewBox="0 0 24 24">
          <use href="./images/socials/tel.svg#tel" class="contact-icon" />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a
        class="container__link"
        href="mailto:isu@meteopavel.ru"
        target="_blank"
        aria-label="Email (opens in a new tab)"
        title="Email"
      >
        <svg class="contact-icon" viewBox="0 0 512 512">
          <use href="./images/socials/email.svg#email" class="contact-icon" />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a
        class="container__link"
        href="https://github.com/meteopavel"
        target="_blank"
        aria-label="GitHub (opens in a new tab)"
        title="GitHub"
      >
        <svg class="contact-icon" viewBox="0 0 20 20">
          <use href="./images/socials/github.svg#github" class="contact-icon" />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a
        class="container__link"
        href="https://t.me/meteopavel"
        target="_blank"
        aria-label="Telegram (opens in a new tab)"
        title="Telegram"
      >
        <svg class="contact-icon" viewBox="0 0 24 24">
          <use
            href="./images/socials/telegram.svg#telegram"
            class="contact-icon"
          />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a
        class="container__link"
        href="https://leetcode.com/u/meteopavel//"
        target="_blank"
        aria-label="Leetcode (opens in a new tab)"
        title="Leetcode"
      >
        <svg class="contact-icon" viewBox="0 0 24 24">
          <use
            href="./images/socials/leetcode.svg#leetcode"
            class="contact-icon"
          />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a
        class="container__link"
        href="https://www.linkedin.com/in/meteopavel/"
        target="_blank"
        aria-label="Linkein (opens in a new tab)"
        title="Linkein"
      >
        <svg class="contact-icon" viewBox="0 0 24 24">
          <use
            href="./images/socials/linkedin.svg#linkedin"
            class="contact-icon"
          />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a
        class="container__link"
        href="https://www.instagram.com/meteopavel/"
        target="_blank"
        aria-label="Instagram (opens in a new tab)"
        title="Instagram"
      >
        <svg class="contact-icon" viewBox="0 0 20 20">
          <use
            href="./images/socials/instagram.svg#instagram"
            class="contact-icon"
          />
        </svg>
      </a>
    </li>
  </ul>
</section>
