@font-face {
  src: url(interregular.ttf) format('truetype'),
    url(interregular.woff) format('woff'),
    url(interregular.woff2) format('woff2');
  font-family: 'Inter Regular';
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: url(interbold.ttf) format('truetype'),
    url(interbold.woff) format('woff'),
    url(interbold.woff2) format('woff2');
  font-family: 'Inter Bold';
  font-weight: 700;
  font-display: swap;
}