<div class="project__shields">
  <a href="https://docs.python.org/3/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/chronicle/python.svg" alt="Python" loading="lazy"></a>
  <a href="https://pandas.pydata.org/docs/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/chronicle/pandas.svg" alt="pandas" loading="lazy"></a>
  <a href="https://www.markdownguide.org/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/chronicle/markdown.svg" alt="Markdown" loading="lazy"></a>
</div>