<div class="project__shields">
  <a href="https://docs.python.org/3/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/python.svg" alt="Python" loading="lazy"></a>
  <a href="https://docs.djangoproject.com/en/stable/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/django.svg" alt="Django" loading="lazy"></a>
  <a href="https://flask.palletsprojects.com/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/flask.svg" alt="Flask" loading="lazy"></a>
  <a href="https://fastapi.tiangolo.com/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/fastapi.svg" alt="FastAPI" loading="lazy"></a>
  <a href="https://www.django-rest-framework.org/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/drf.svg" alt="DRF" loading="lazy"></a>
  <a href="https://www.sqlalchemy.org/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/sqlalchemy.svg" alt="SQLAlchemy" loading="lazy"></a>
  <a href="https://alembic.sqlalchemy.org/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/alembic.svg" alt="Alembic" loading="lazy"></a>
  <a href="https://www.postgresql.org/docs/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/postgresql.svg" alt="PostgreSQL" loading="lazy"></a>
  <a href="https://python-telegram-bot.org/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/python_telegram_bot.svg" alt="Python Telegram Bot" loading="lazy"></a>
  <a href="https://docs.docker.com/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/docker.svg" alt="Docker" loading="lazy"></a>
  <a href="https://reactjs.org/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/react.svg" alt="React" loading="lazy"></a>
  <a href="https://devdoc.net/python/jinja-2.10.1-doc/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/jinja.svg" alt="Jinja" loading="lazy"></a>
  <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/html5.svg" alt="HTML5" loading="lazy"></a>
  <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/css.svg" alt="CSS" loading="lazy"></a>
  <a href="https://yandex.cloud/ru/docs" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/yandex_cloud.svg" alt="Yandex Cloud" loading="lazy"></a>
  <a href="https://cloud.google.com/docs" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/google_cloud.svg" alt="Google Cloud" loading="lazy"></a>
  <a href="https://docs.github.com/en/actions" target="_blank" rel="noopener noreferrer"><img src="/images/shields/freelance/github_actions.svg" alt="GitHub Actions" loading="lazy"></a>
</div>