<div class="project__shields">
  <a href="https://devdocs.io/python~3.9/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/froggygram/python_3.9.svg" alt="Python 3.9" loading="lazy"></a>
  <a href="https://docs.djangoproject.com/en/5.1/releases/3.2/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/froggygram/django_3.2.svg" alt="Django 3.2" loading="lazy"></a>
  <a href="https://www.postgresql.org/docs/13/index.html" target="_blank" rel="noopener noreferrer"><img src="/images/shields/froggygram/postgresql_13.10.svg" alt="PostgreSQL 13.10" loading="lazy"></a>
  <a href="https://devdocs.io/django_rest_framework/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/froggygram/drf_3.12.svg" alt="DRF 3.12" loading="lazy"></a>
  <a href="https://jwcrypto.readthedocs.io/en/latest/jwt.html" target="_blank" rel="noopener noreferrer"><img src="/images/shields/froggygram/jwt.svg" alt="JWT" loading="lazy"></a>
  <a href="https://docs.pytest.org/en/stable/contents.html" target="_blank" rel="noopener noreferrer"><img src="/images/shields/froggygram/pytest.svg" alt="Pytest" loading="lazy"></a>
  <a href="https://devdocs.io/react~17/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/froggygram/react_17.svg" alt="React 17" loading="lazy"></a>
  <a href="https://docs.docker.com/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/froggygram/docker.svg" alt="Docker" loading="lazy"></a>
  <a href="https://nginx.org/en/docs/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/froggygram/nginx.svg" alt="Nginx" loading="lazy"></a>
</div>