<div class="project__shields">
  <a href="https://docs.python.org/3/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/home_router/python.svg" alt="Python" loading="lazy"></a>
  <a href="https://fastapi.tiangolo.com/release-notes/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/home_router/fastapi.svg" alt="FastAPI" loading="lazy"></a>
  <a href="https://www.uvicorn.org/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/home_router/uvicorn.svg" alt="Uvicorn" loading="lazy"></a>
  <a href="https://jinja.palletsprojects.com/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/home_router/jinja.svg" alt="Jinja" loading="lazy"></a>
  <a href="https://nginx.org/en/docs/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/home_router/nginx.svg" alt="Nginx" loading="lazy"></a>
</div>