<div class="project__shields">
  <a href="https://docs.python.org/2.7/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/legacy_django_mailer/python_2.7.svg" alt="Python 2.7" loading="lazy"></a>
  <a href="https://docs.djangoproject.com/en/1.9/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/legacy_django_mailer/django_1.9.svg" alt="Django 1.9" loading="lazy"></a>
  <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/legacy_django_mailer/bootstrap.svg" alt="Bootstrap" loading="lazy"></a>
  <a href="https://redis.io/documentation" target="_blank" rel="noopener noreferrer"><img src="/images/shields/legacy_django_mailer/redis.svg" alt="Redis" loading="lazy"></a>
  <a href="https://docs.celeryproject.org/en/stable/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/legacy_django_mailer/celery.svg" alt="Celery" loading="lazy"></a>
  <a href="https://docs.docker.com/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/legacy_django_mailer/docker.svg" alt="Docker" loading="lazy"></a>
  <a href="https://nginx.org/en/docs/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/legacy_django_mailer/nginx.svg" alt="Nginx" loading="lazy"></a>
  <a href="https://ngrok.com/docs" target="_blank" rel="noopener noreferrer"><img src="/images/shields/legacy_django_mailer/ngrok.svg" alt="Ngrok" loading="lazy"></a>
  <a href="https://docs.chocolatey.org/en-us/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/legacy_django_mailer/chocolatey.svg" alt="Chocolatey" loading="lazy"></a>
</div>