<div class="project__shields">
  <a href="https://docs.python.org/3/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/mailganer/python.svg" alt="Python" loading="lazy"></a>
  <a href="https://docs.djangoproject.com/en/stable/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/mailganer/django.svg" alt="Django" loading="lazy"></a>
  <a href="https://www.postgresql.org/docs/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/mailganer/postgresql.svg" alt="PostgreSQL" loading="lazy"></a>
  <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noopener noreferrer"><img src="/images/shields/mailganer/javascript.svg" alt="JavaScript" loading="lazy"></a>
  <a href="https://docs.celeryproject.org/en/stable/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/mailganer/celery.svg" alt="Celery" loading="lazy"></a>
  <a href="https://redis.io/documentation" target="_blank" rel="noopener noreferrer"><img src="/images/shields/mailganer/redis.svg" alt="Redis" loading="lazy"></a>
  <a href="https://nginx.org/en/docs/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/mailganer/nginx.svg" alt="Nginx" loading="lazy"></a>
  <a href="https://docs.docker.com/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/mailganer/docker.svg" alt="Docker" loading="lazy"></a>
</div>