<div class="project__shields">
  <a href="https://en.cppreference.com/w/c/language" target="_blank" rel="noopener noreferrer"><img src="/images/shields/roshydromet/c.svg" alt="C" loading="lazy"></a>
  <a href="https://en.cppreference.com/w/cpp/language" target="_blank" rel="noopener noreferrer"><img src="/images/shields/roshydromet/c++.svg" alt="C++" loading="lazy"></a>
  <a href="https://documentation.help/MS-VBA-Tips/documentation.pdf" target="_blank" rel="noopener noreferrer"><img src="/images/shields/roshydromet/vba.svg" alt="VBA" loading="lazy"></a>
  <a href="https://learn.microsoft.com/ru-ru/dotnet/visual-basic/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/roshydromet/visual_basic.svg" alt="Visual Basic" loading="lazy"></a>
  <a href="https://learn.microsoft.com/ru-ru/visualstudio/windows/?view=vs-2022" target="_blank" rel="noopener noreferrer"><img src="/images/shields/roshydromet/visual_studio.svg" alt="Visual Studio" loading="lazy"></a>
</div>