<div class="project__shields">
  <a href="https://httpd.apache.org/docs/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa/apache.svg" alt="Apache" loading="lazy"></a>
  <a href="https://www.php.net/manual/en/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa/php.svg" alt="PHP" loading="lazy"></a>
  <a href="https://dev.mysql.com/doc/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa/mysql.svg" alt="MySQL" loading="lazy"></a>
  <a href="https://docs.joomla.org/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa/joomla.svg" alt="Joomla" loading="lazy"></a>
  <a href="https://developer.wordpress.org/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa/wordpress.svg" alt="WordPress" loading="lazy"></a>
  <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa/html5.svg" alt="HTML5" loading="lazy"></a>
  <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa/css.svg" alt="CSS" loading="lazy"></a>
  <a href="https://en.cppreference.com/w/c/language" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa/c.svg" alt="C" loading="lazy"></a>
  <a href="https://en.cppreference.com/w/cpp/language" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa/c++.svg" alt="C++" loading="lazy"></a>
  <a href="https://www.arduino.cc/reference/en/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa/arduino.svg" alt="Arduino" loading="lazy"></a>
</div>