<div class="project__shields">
  <a href="https://docs.python.org/3/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa_django/python.svg" alt="Python" loading="lazy"></a>
  <a href="https://docs.djangoproject.com/en/stable/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa_django/django.svg" alt="Django" loading="lazy"></a>
  <a href="https://dev.mysql.com/doc/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa_django/mysql.svg" alt="MySQL" loading="lazy"></a>
  <a href="https://pillow.readthedocs.io/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/voa_django/pillow.svg" alt="Pillow" loading="lazy"></a>
</div>