<div class="project__shields">
  <a href="https://devdocs.io/python~3.9/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/yamdb/python_3.9.svg" alt="Python 3.9" loading="lazy"></a>
  <a href="https://docs.djangoproject.com/en/5.1/releases/3.2/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/yamdb/django_3.2.svg" alt="Django 3.2" loading="lazy"></a>
  <a href="https://www.sqlite.org/docs.html" target="_blank" rel="noopener noreferrer"><img src="/images/shields/yamdb/sqlite.svg" alt="SQLite" loading="lazy"></a>
  <a href="https://devdocs.io/django_rest_framework/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/yamdb/drf_3.12.svg" alt="DRF 3.12" loading="lazy"></a>
  <a href="https://jwcrypto.readthedocs.io/en/latest/jwt.html" target="_blank" rel="noopener noreferrer"><img src="/images/shields/yamdb/jwt.svg" alt="JWT" loading="lazy"></a>
  <a href="https://docs.pytest.org/en/stable/contents.html" target="_blank" rel="noopener noreferrer"><img src="/images/shields/yamdb/pytest.svg" alt="Pytest" loading="lazy"></a>
  <a href="https://learning.postman.com/docs/introduction/overview/" target="_blank" rel="noopener noreferrer"><img src="/images/shields/yamdb/postman.svg" alt="Postman" loading="lazy"></a>
</div>