<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="yandex-verification" content="efd037b409851ed2" />
<meta property="og:title" content="Павел Найденов | Python-разработчик" />
<meta property="og:description" content="Cоздаю доступные решения, где мощный бэкенд поддерживает элегантный интерфейс" />
<meta property="og:image" content="https://meteopavel.space/images/site_preview.jpg" />
<meta property="og:url" content="https://meteopavel.space/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Портфолио Павла Найденова" />
<meta property="og:locale" content="ru_RU" />
<meta property="og:image:alt" content="Превью портфолио Павла Найденова" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Павел Найденов | Python-разработчик" />
<meta name="twitter:description" content="Cоздаю доступные решения, где мощный бэкенд поддерживает элегантный интерфейс" />
<meta name="twitter:image" content="https://meteopavel.space/images/site_preview.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@meteopavel" />
<meta name="twitter:creator" content="@meteopavel" />
<meta name="apple-mobile-web-app-title" content="Meteopavel">
<meta name="description" content="Павел Найденов | Python-разработчик" />
<meta name="keywords" content="Python, Django, Flask, Fast API, разработчик, резюме" />
<meta name="author" content="Найденов Павел Андреевич" />
<meta name="robots" content="index, follow" />
<title>Павел Найденов | Python-разработчик</title>
