{% set interviews = [
  {
    "title": "Интервью на канале Евгения Бартенева",
    "description": """
      Евгений — техлид Яндекс.Практикум с более чем 20-летним опытом в IT.
      На интервью Я уверенно отвечаю на вопросы, показываю, как думаю,
      как решаю задачи — и даже когда ошибаюсь, это становится поводом
      для классного разбора. Мок-интервью получилось живым, честным и
      полезным.
    """,
    "videoUrl": "https://rutube.ru/play/embed/e2afe6ff2b3be3ed96e9c59e832e2160/?p=xndkNrsUEeNsadoBbhIHgg"
  }
] %}