<!-- Education -->
<section class="education section">
  <h3 class="section__header">{{ education["title"] }}</h3>
  <ul class="section__list">
    {% for education_item in education["items"] %}
      <li class="section__item highlightable">
        <div class="section__item--left">
          <svg class="preview-icon" viewBox="{{ education_item.viewBox }}">
            <use href="{{ education_item.icon }}" class="preview-icon" />
          </svg>
        </div>
        <div class="section__item--right">
          <p class="section__p">
            <a href="{{ education_item.url }}" target="_blank">
              {{ education_item.title }}
            </a>
          </p>
          <p class="section__p">
            {{ education_item.details }}
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>