<!-- Work Experience -->
<section class="experience section">
  <h3 class="section__header">{{ experience["title"] }}</h3>
  <ul class="section__list">
    {% for experience_item in experience["items"] %}
      <li class="section__item highlightable">
        <div class="section__item--left">
          <svg class="preview-icon" viewBox="{{ experience_item.viewBox }}">
            <use href="{{ experience_item.icon }}" class="preview-icon" />
          </svg>
        </div>
        <div class="section__item--right">
          <p class="section__p section__p--smaller">
            <span>{{ experience_item.title }}</span>
          </p>
          <p class="section__p section__p--smaller">
            {{ experience_item.description }}
          </p>
          {% include experience_item.shields %}
        </div>
      </li>
    {% endfor %}
  </ul>
</section>