<!-- Freelance Projects -->
<section class="projects section">
  <h3 class="section__header">{{ freelance["title"] }}</h3>
  <ul class="section__list">
    {% for project in freelance["items"] %}
      <li class="section__item highlightable">
        <div class="section__item--left">
          <svg class="preview-icon" viewBox="{{ project.viewBox }}">
            <use href="{{ project.icon }}" class="preview-icon" />
          </svg>
        </div>
        <div class="section__item--right">
          <p class="section__p section__p--smaller">
            <span>{{ project.title }}</span>
          </p>
          <p class="section__p section__p--smaller">
            {{ project.description }}
          </p>
          <div class="project__links">
            {% for link in project.links %}
              <a href="{{ link.href }}" target="_blank" rel="noopener noreferrer">
                <div class="project__links-link">
                  <svg class="project__link-icon" viewBox="{{ link.viewBox }}">
                    <use href="{{ link.icon }}" class="project__link-icon" />
                  </svg>
                  — {{ link.text }}
                </div>
              </a>
            {% endfor %}
          </div>
          {% include project.shields %}
        </div>
      </li>
    {% endfor %}
  </ul>
</section>