<!-- Interviews -->
<section class="interviews section">
  <h3 class="section__header">{{ interviews["title"] }}</h3>
  <ul class="section__list">
    {% for interview in interviews["items"] %}
      <li class="section__item highlightable">
        <div class="section__item--left">
          <div class="video-container">
            <iframe
              width="560"
              height="315"
              src="{{ interview.videoUrl }}"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="section__item--right">
          <p class="section__p section__p--smaller">
            <span>{{ interview.title }}</span>
          </p>
          <p class="section__p section__p--smaller">
            {{ interview.description }}
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>