{% set mainInfo = {
  "photo": "./images/my_photo.jpg",
  "alt": "Найденов Павел Андреевич",
  "name": "Павел Найденов",
  "position": "Python-разработчик",
  "description": """
    Создаю доступные решения, где мощный бэкенд поддерживает элегантный интерфейс.
  """
} %}