.highlightable {
  transition: box-shadow var(--transition-time) var(--transition-timing-function),
              background-color var(--transition-time) var(--transition-timing-function);
}

@media (max-width: 460px) {
  .highlighted {
    background-color: var(--hover-color);
    box-shadow: 0 0 0 2px var(--primary-color);
  }
  .highlighted .preview-icon {
    color: var(--primary-color);
  }
}
