body {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 400;
  background-color: #0f172a;
  color: #7c8a9e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 50px;
}

.column_left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 25%;
  min-width: 300px;
}

.column_right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 75%;
}

h1, h2, h3 {
  color: #e2e8f0;
}

h1 {
  font-family: 'Inter Bold', sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Inter Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: currentColor;
}

.profile-photo {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 10px;
}

.about_me p {
  margin-bottom: 15px;
  font-size: 16px;
}

.education p {
  margin-bottom: 10px;
  font-size: 16px;
}

.projects ul {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.projects object {
  display: flex;
}

.contact-svg {
  transition: color 0.2s ease;
  width: 30px;
}

.contact-svg:hover {
  color: #e2e8f0;
}

.social ul {
  display: flex;
  justify-content: space-between;
}

.column_right a {
  font-family: 'Inter Bold', sans-serif;
  font-weight: 700;
  color: #e2e8f0;
  transition: color 0.2s ease;
}

.column_right a:hover {
  font-family: 'Inter Bold', sans-serif;
  font-weight: 700;
  color: #21e7e7;
}

.education li {
  display: flex;
  gap: 10%;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    min-width: 500px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .profile-photo {
    width: 300px;
    margin: 0 auto;
  }

  .social {
    width: 300px;
  }
}