body {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 400;
  background-color: #0f172a;
  color: #7c8a9e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #21e7e7;
  color: #596371;
}

::-moz-selection {
  background-color: #21e7e7;
  color: #596371;
}

ul,
ol {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 50px;
}

.column_left {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 85vh;
  width: 300px;
}

.main_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.column_right {
  display: flex;
  flex-direction: column;
  margin-left: 350px;
  gap: 30px;

}

h1, h2, h3 {
  color: #e2e8f0;
}

h1 {
  font-family: 'Inter Bold', sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1px;

}

h2 {
  font-size: 22px;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Inter Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;

}

a {
  text-decoration: none;
  color: currentColor;
}

.profile-photo {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

p {
  line-height: 24px;
  letter-spacing: 0.05rem;
  font-size: 16px;
}

.section__header {
  margin-bottom: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.section__ul {
  display: flex;
  flex-direction: column;
}

.education li, .projects li, .interviews li {
  display: flex;
  gap: 20px;
}

.education li, .projects li, .interviews li {
  transition: outline-color 0.2s ease, background-color 0.2s ease;
  padding: 20px;
}

.projects li:hover, .education li:hover, .interviews li:hover {
  background-color: #141f37;
  border-radius: 20px;
  outline: solid 1px #21e7e7;
}

.projects li .preview-svg, .education li .preview-svg {
  transition: color 0.2s ease;
}

.projects li:hover .preview-svg, .education li:hover .preview-svg {
  color: #21e7e7;
}

.section__li-left {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.section__li-right {
  width: 85%;
}

.interviews .section__li-left {
  width: 50%;
  min-width: 321px;
  max-width: fit-content;
  display: flex;
}

.video-container {
  position: relative;
  width: 321px; /* Желаемая ширина */
  height: 180px;

}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  width: 90%;
  height: 90%;
  border-radius: 20px;
}

.section__p {
  margin-bottom: 10px;
}

.section__p span {
  font-family: 'Inter Bold', sans-serif;
  font-weight: 700;
  color: #e2e8f0; 
}

.projects .section__p, .interviews .section__p {
  font-size: 15px;
  line-height: normal;
}

.project__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 5px;
  height: fit-content;
  margin-bottom: 10px;
}

.project__links_link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.project__links-result {
  display: flex;
  justify-content: end;
}

.project__links a {
  font-size: 14px;
}

.link-svg {
  height: 25px;
}

.shields {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.contact-svg {
  transition: color 0.2s ease;
  width: 30px;
}

.contact-svg:hover {
  color: #e2e8f0;
}

.social ul {
  display: flex;
  justify-content: space-between;
}

.column_right a {
  font-family: 'Inter Bold', sans-serif;
  font-weight: 700;
  color: #e2e8f0;
  transition: color 0.2s ease;
}

.column_right a:hover {
  font-family: 'Inter Bold', sans-serif;
  font-weight: 700;
  color: #21e7e7;
}

@media (max-width: 1090px) {
  .interviews li {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .interviews .section__li-right {
    max-width: 305px;
  }
}

@media (max-width: 900px) and (min-width: 680px) {
  .interviews li {
    flex-direction: row; 
    align-items: center;
  }
  .interviews .section__li-right {
    max-width: none;
  }
}

@media (max-width: 460px) {

  .interviews li {
    flex-direction: column; 
    align-items: center; 
    padding: 15px;
    
  }
  .interviews .section__li-right {
    max-width: none;
    width: 100%;
  }

}


@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 323px;
    padding: 50px 25px;
  }

  .column_left {
    position: static;
    height: auto;
    gap: 20px
  }

  .column_right {
    margin: 0;
  }

  .profile-photo {
    width: 300px;
    margin: 0 auto;
  }

  .social {
    width: 300px;
  }
}