body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #0f172a;
  color: #7c8a9e;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background: #0f172a;
  padding: 20px;
  border-radius: 8px;
  flex-direction: row;
}

.left-column {
  width: 30%;
  padding-right: 20px;
}

.right-column {
  width: 70%;
}

h1, h2, h3 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  color: #e2e8f0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.profile-photo {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.contact-info a {
  color: #7c8a9e;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  background: #333;
  color: #7c8a9e;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.9em;
}

.contact-svg {
  transition: color 0.1s ease;
  width: 40px;
}

.contact-svg:hover {
  color: #e2e8f0;
}

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: none;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 100%;
    padding-right: 0;
  }

  .profile-photo {
    width: 200px;
    margin: 0 auto;
  }
}