:root {
  --primary-color: #21e7e7;
  --secondary-color: #e2e8f0;
  --text-color: #7c8a9e;
  --highlighted-text-color: #596371;
  --background-color: #0f172a;
  --hover-color: #141f37;
  --font-family-regular: "Inter Regular", sans-serif;
  --font-weight-regular: 400;
  --font-family-bold: "Inter Bold", sans-serif;
  --font-weight-bold: 700;
  --font-size-h1: 38px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-size-normal-text: 16px;
  --font-size-smaller-text: 15px;
  --line-height-h1: 42px;
  --line-height-h2: 28px;
  --line-height-h3: 22px;
  --line-height-normal-text: 24px;
  --line-height-smaller-text: 18px;
  --letter-spacing-h1: -0.1rem;
  --letter-spacing-h2: 0.15rem;
  --letter-spacing-h3: 0.2rem;
  --letter-spacing-normal-text: 0.05rem;
  --letter-spacing-smaller-text: 0.05rem;
  --border-radius: 20px;
  --container-padding-vertical: 7vh;
  --container-padding-horizontal: 5vw;
  --transition-time: 0.3s;
  --transition-timing-function: ease;
}

@media (max-width: 460px) {
  :root {
    --font-size-h1: 38px;
    --font-size-h2: 24px;
    --font-size-h3: 16px;
    --font-size-normal-text: 14px;
    --font-size-smaller-text: 14px;
    --line-height-h1: 38px;
    --line-height-h2: 24px;
    --line-height-h3: 18px;
    --line-height-normal-text: 18px;
    --line-height-smaller-text: 18px;
    --letter-spacing-h1: -0.1rem;
    --letter-spacing-h2: 0.15rem;
    --letter-spacing-h3: 0.2rem;
    --letter-spacing-normal-text: 0.03rem;
    --letter-spacing-smaller-text: 0.05rem;
  }
}
